@media screen and (max-width = 600px){

}

@media screen and (max-height = 600px){

}

.person{
    margin: auto;
    /* Changing the width will change the size of the card */
    width: 500px;
    margin-top: 14px;
    box-shadow: 10px 20px rgb(224, 224, 224);
    margin-bottom: 50px;
    border-radius: 10px;
 }   

.person img{
    padding: 15px;
    margin: auto;
    width: 500px;
    height: 500px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
    /* outline-offset: -15px;
    outline-style: inset;
    outline-color: rgb(220, 218, 218); */
}

.account-details{
    right: 50px;
    position: absolute !important;
}

.score{
    right: 20px;
}

.person form{
    margin-bottom: 25px;
}

.login{
    width: 40%; 
    margin: auto; 
    vertical-align: middle;
}

.login img{
    width:40%;
    height: 40%;
    margin: auto;
}

/* Matches Table */

tr:nth-child(even) {
    background-color: #f8f9fa;
}

td{
    padding: 5px;
}

.matches-row{
    margin: 10px 20px;
}

/* table, th, td {
    border: #c7c7c7 1px solid;
    border-collapse: collapse;
}

tr {
    width: 100%;
}

th, td {
    padding: 15px;
    margin: 20px;
    text-align: left;
} */

.match-username{
    margin: auto;
}

.matches-profile-pic{
    width: 95px;
    height: 100px;
    border-radius: 30%;
    border: rgb(222, 222, 222) 1px solid;
    padding: 1px;
    background-position: center center;
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: center;
}

/* Matches Modal */
#date-content{
    display: none;
    margin: 15px 0;
}