@media screen and (max-width = 600px){

}

@media screen and (max-height = 600px){

}

.person{
    margin: auto;
    /* Changing the width will change the size of the card */
    width: 35%;
    margin-top: 10%;
 }   

.person img{
    padding: 25px;
    /* width: 40% !important; */
    /* height: 40% !important; */
    object-fit: cover;
    object-position: center;
    align-items: center;
}

#read-more{
    color: #cd5864;
}

#more-content{
    display: none;
    margin-bottom: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;
    margin: 0;
    padding: 0;
}