<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flirtify Home</title>

    <!-- FAVICON -->
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='flirtify-favicon.png') }}"
    />

    <!-- CSS Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />

    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/fe33c26b25.js"
      crossorigin="anonymous"
    ></script>

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- VueJS -->
    <script src="https://unpkg.com/vue@next"></script>

    <!-- AXIOS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
  </head>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='flirtify-logo.png') }}" alt="Flirtify Logo" width="40" height="24" class="d-inline-block align-text-top">
            <!-- <span class="fs-4">Flirtify</span> -->
          </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('matches') }}">Matches</a>
          </li>
          <li class="nav-item dropdown account-details" style="position: absolute !important; right: 50px;">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu me-4">
              <li><a class="dropdown-item" href="#">Login / Signup</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
</nav>

  <body id="app" data-user-chooser-id="{{ session['user_id'] }}">
    <h1 class="display-6 text-center my-3">Welcome back, [[ this.user_chooser_name ]]! <br> 
      <span class="fs-2 fw-semibold"> Swipe Away ~ <i class="fa-regular fa-face-kiss-wink-heart fa-bounce" style="color: #dc3545;"></i></span>
    </h1>
    <!-- MATCH CARD -->
    <div class="person">
      <!-- LOADING MATCH CARDS -->
      <div v-if="!this.matchName" class="card" aria-hidden="true">
        <img
          src="{{ url_for('static', filename='flirtify-placeholder.png') }}"
          class="card-img-top d-flex justify-content-center placeholder-glow col-12 bg-light"
          alt="flirtify"
          style="object-fit: none;"
        />
        <div class="card-body">
          <div class="container mb-4">
            <div class="row justify-content-between placeholder-glow">
              <div class="col-4 placeholder"></div>
              <div class="col-2 placeholder bg-danger"></div>
            </div>
            <div class="row justify-content-between placeholder-glow my-3">
              <div class="col-7 placeholder"></div>
            </div>
            <div class="row justify-content-between placeholder-glow">
              <div class="col-4 placeholder"></div>
            </div>
          </div>

          <div class="container">
            <div class="row justify-content-between placeholder-glow">
              <div class="col-5 placeholder"></div>
              <div class="col-2"></div>
              <div class="col-5 placeholder bg-danger"></div>
          </div>
        </div>
        </div>
      </div>


      <!-- LOADED MATCH CARDS -->
      <div v-else class="card">
        <img
          src="{{ url_for('static', filename='stock-image.jpg') }}"
          class="card-img-top d-flex justify-content-center center-cropped"
          alt="flirtify"
        />
        <div class="card-body">
          <div class="container">
            <div class="row justify-content-between">
              <div class="col text-start">
                <h5 class="card-title align-middle mt-2 text-capitalize"> [[ matchName ]] [[ matchAge ]]</h5>
              </div>
              <div class="col-3">
                <!-- <div class="p-2 border border-danger border-3 rounded-pill rounded-5 text-danger text-center score">
                  <a href="#" data-toggle="popover" data-content="Compatability score!">
                      {{ compatScore }}
                  </a>
                </div> -->
                <button type="button" class="btn btn-outline-danger" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover">
                    [[ compatScore ]]
                </button>
              </div>
            </div>
          </div>

          <div v-if="matchContent">
            <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="(v, k) in matchDetails">
                  <i class="fa-solid fa-circle-heart"></i> 
                  <b>[[ k ]]</b>: [[ v ]]
                </li>
                <li class="list-group-item">
                  <b>Prefers: </b>
                    <ul class="list-group list-group-numbered">
                        <li class="list-group-item text-capitalize" v-for="item in matchPreferences">[[ item ]]</li>
                    </ul>
                </li>
            </ul>
          </div>

          <button @click="toggleContent" class="btn btn-link text-danger mt-3 ms-2" type="button">More Details</button>
          <!-- <a href="#" @click="toggleContent" class="fs-6 ms-3 mt-3">More Details</a> -->

          <!-- FORM FOR MATCHING -->
          <form>
            <div class="container text-center mt-4">
              <!-- <div class="row justify-content-between"> -->
              <div class="d-grid gap-2 d-md-block">
                <div class="row">
                  <div class="col-5">
                    <!-- BUTTON TRIGGERS THE NEXT CARD -->
                    <input type="hidden" name="user_chooser_id" v-model="user_chooser_id">
                    <input type="hidden" name="user_suggested_id" :value="suggested">
  
                    <button @click="onSwipeReject" type="button" class="btn btn-lg btn-secondary" id="next-btn">
                      Next
                    </button>
                    
                  </div>
                  <div class="col-2"></div>
                  <div class="col-5">
                    <!-- <input type="hidden" name="user_chooser_id" v-model="user_chooser_id" value="{{ session['user_id'] }}">
                    <input type="hidden" name="user_suggested_id" v-model="user_suggested_id" :value="suggested"> -->
  
                    <button @click="onSwipeAccept"
                      type="button"
                      class="btn btn-lg btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#matchModal"
                      id="like-btn"
                    >
                    <i class="fa-solid fa-heart"></i>
                    </button>
                    
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- IF MATCH -->
          <div
            class="modal fade"
            id="matchModal"
            tabindex="-1"
            aria-labelledby="matchModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="matchModalLabel">
                    Matched!
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <!-- DISPLAY MATCH PICTURE HERE -->
                  <!-- <img src="" alt=""> -->
                  <p class="text-center fw-bold">IT'S A MATCH!</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button type="button" class="btn btn-danger" href="#">Chat Now</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // For Testing
      // var userId = 849811382203678721;

      // Querying the microservices
      const app = Vue.createApp({
        delimiters: ['[[', ']]'], // Change the delimiter to [[ ]]
        data() {
          return {
            matchContent: false,
            suggested: "",
            user_chooser_id: document.getElementById('app').getAttribute('data-user-chooser-id'),
            user_chooser_name: '',
            matchName : "",
            matchAge: "",
            matchPreferences: [],
            compatScore: "",
            matchDetails: {
              'Gender':"",
              'Desired First Date': "",
              'MBTI': "",
            }
          };
        },

        created(){
          this.getSessionUserInfo();
          this.loadFirstMatch(this.user_chooser_id);
          this.loadMatchQueue(this.user_chooser_id, 4);
        },

        methods: {

          // Getting session user's name
          getSessionUserInfo(){
            fetch(
              "http://localhost:26257/user/" + this.user_chooser_id,
                  {
                      mode: 'cors',
                  }
            )
            .then((response) => response.json())
            .then((data) => {
              console.log(data)
              this.user_chooser_name = data['data']['firstname'];
              console.log('this is the user_chooser_name', this.user_chooser_name)
            })
            .catch((error) => {
              console.error('Error:', error);
            });
          },

          loadFirstMatch(userId){
            fetch(
              // "http://localhost:7100/get_queue/" +user_id "/1"
              "http://localhost:7100/get_queue/" + this.user_chooser_id +"/1",
                  {
                      mode: 'cors',
                  }
            )
            .then((response) => response.json())
            .then((data) => {
              console.log(data)
              // Getting the compatibility score
              this.compatScore = data['data'][0]['data']['compatibility_result'];

              // Showing Matches Details
              var firstMatchData = data['data'][0]['data']['user2'];

              var firstDate = firstMatchData['desiredfirstdate'];
              var firstLetter = firstDate.charAt(0).toUpperCase();
              var firstDate = firstLetter + firstDate.slice(1);

              this.suggested = firstMatchData['id'];
              this.matchName = firstMatchData['firstname'] + " " + firstMatchData['lastname'] + ',';
              this.matchAge = firstMatchData['age'];
              this.matchPreferences = firstMatchData['preferences'];
              this.matchDetails['Gender'] = firstMatchData['gender'];
              this.matchDetails['Desired First Date'] = firstDate;
              this.matchDetails['MBTI'] = firstMatchData['mbti'].toUpperCase();
            })
            .catch(error => {
                console.log(error.message);
            });

            console.log('Completed First Match')
          },


          loadMatchQueue(userId, numberToRetrieve) {
            // axios.get();
            fetch(
              // "http://localhost:7100/get_queue_async/" + UserId + numberToRetrieve.toString()
              "http://localhost:7100/get_queue_async/" +this.user_chooser_id + "/" + numberToRetrieve.toString(),
              {
                mode: 'cors',
              }
            )
              .then((response) => response.json())
              .then((data) => {
                console.log(data);
              })
              .catch(error => {
                    console.log(error.message);
                });
          },

          loadMatchQueueMsg(){
            console.log('==============================');
            console.log('Loading Match Queue Message');

            fetch(
              "http://localhost:7100/get_queue_msg",
                  {
                      mode: 'cors',
                  }
            )
              .then((response) => response.json())
              .then((data) => {
                console.log('==============================')
                console.log('this is the data from the RabbitMQ Message')
                 // Getting the compatibility score from compatiblility microservice
                var result = data['data'];

                // Getting the compatibility score
                this.compatScore = result['compatibility_result'];

                // Showing Matches Details
                firstMatchData = result['user2'];
                this.suggested = firstMatchData['id'];
                this.matchName = firstMatchData['firstname'] + " " + firstMatchData['lastname'] + ',';
                this.matchAge = firstMatchData['age'];
                this.matchPreferences = firstMatchData['preferences'];
                this.matchDetails['Gender'] = firstMatchData['gender'];
                this.matchDetails['First Date'] = firstMatchData['desiredfirstdate'];
                this.matchDetails['MBTI'] = firstMatchData['mbti'].toUpperCase();

              })
              .catch(error => {
                    console.log(error.message);
                });
          },

          //function to show more details of match
          toggleContent(){
            this.matchContent = !this.matchContent;
          },


          // function that retrieves another compatability result after a reject swipe
          onSwipeReject(){
            console.log(this.user_chooser_id);
            console.log(this.suggested);

            fetch("http://localhost:5002/create_match/"+this.user_chooser_id+"/"+this.suggested+"/"+0,
                  {
                      method: "POST",
                      mode: 'cors',
                      body: JSON.stringify(
                                {
                                  'user_id1': this.user_chooser_id,
                                  'user_id2': this.suggested,
                                  'decision': 0,
                                })
                  })
                .then(response => response.json())
                .then(data => {
                  console.log(data);
                  this.loadMatchQueueMsg()
                  // this.matchName = '';
                  console.log('swiped but rejected');
                  this.loadMatchQueue(userId, 1);
                })
                .catch(error => {
                  console.log(error);
                  // Handle error response
                });

            },

          // function that retrieves another compatability result after a reject swipe
          onSwipeAccept(){
            fetch("http://localhost:5002/create_match/"+this.user_chooser_id+"/"+this.suggested+"/"+1,
                  {
                      method: "POST",
                      mode: 'cors',
                      body: JSON.stringify(
                                {
                                  'user_id1': this.user_chooser_id,
                                  'user_id2': this.suggested,
                                  'decision': 1,
                                })
                  })
                .then(response => response.json())
                .then(data => {
                  console.log(data);
                  this.loadMatchQueueMsg()
                  console.log('swiped and accepted');
                  this.loadMatchQueue(userId, 1);
                })
                .catch(error => {
                  console.log(error);
                  // Handle error response
                });

            },

            // function that pops the modal if the match is true
            messageMatch(){

            }

        },

        mounted() {
            // this.loadMatchQueue(userId, 1);
            // this.loadMatchQueueMsg();
        },

        computed: {},
      });

      app.mount("#app");

    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
