<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flirtify Home</title>

        <!-- FAVICON -->
        <link rel="icon" type="image/x-icon" href="../static/flirtify-favicon.png">

        <!-- CSS Style -->
        <link rel = 'stylesheet' href = '../static/style.css'>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        <!-- FONTAWESOME -->
        <script src="https://kit.fontawesome.com/fe33c26b25.js" crossorigin="anonymous"></script>

        <!-- JavaScript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- VueJS -->
        <script src="https://unpkg.com/vue@next"></script>

        <!-- AXIOS -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}"">
                <img src="https://github.com/darylcwx/Flirtify/blob/main/static/flirtify-logo.png?raw=true" alt="Flirtify Logo" width="40" height="24" class="d-inline-block align-text-top">
                <!-- <span class="fs-4">Flirtify</span> -->
              </a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('matches') }}">Matches</a>
              </li>
              <li class="nav-item dropdown account-details" style="position: absolute !important; right: 50px;">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu me-4">
                  <li><a class="dropdown-item" href="#">Login / Signup</a></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
    </nav>

<body>
    <div id="app" class="container-fluid" data-user-chooser-id="849811382203678721">

        <!-- LOADING PULSE ANIMATION -->
        <div v-if="matchesResult.length == 0" >
            <div class="position-absolute top-50 start-50 translate-middle">
                <div class="d-flex justify-content-center mt-5">
                    <div class="spinner-border text-danger" style="width: 5rem; height: 5rem;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <h2 class="text-center mt-4"> Loading your matching results!</h2>
            </div>
        </div>

        <!-- DONE LOADING -->
        <div v-else>

            <!-- IF MATCHES  -->
            <div class="text-center mt-5" v-if="matchesResult.length > 0">
                <h1 class="display-5">
                    <span v-if="matchesResult.length==1"> Here is your match</span>
                    <span v-else> Here are your matches</span>
                    
                    <i class="fa-sharp fa-solid fa-heart fa-beat-fade" style="color: #cd5864;"></i>
                </h1>
                <p class="text-muted font-monospace mt-2">[[ this.user_chooser_name ]],  Flirt like there's no tomorrow</p>
                <!-- <table class="d-flex justify-content-center mt-5"> -->
                <div class="table-responsive">
                    <table class="table table-hover mt-3 align-middle">
                        <thead>
                        <tr>
                            <!-- <th scope="col"></th> -->
                            <th class="text-center" scope="col">Name</th>
                            <th scope="col">Matched for</th>
                            <th scope="col">MBTI</th>
                            <th scope="col">Age</th>
                            <th scope="col" class="ps-5">Actions</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        <tr v-for="(item,idx) in matchesInfo" :key="item.user_id2" scope="row" class="matches-row">
                            <!-- ITEM IS THE VALUE in matchesInfo, idx is the key -->

                            <td class="d-flex justify-content-center matches-profile-name">
                                <img class="matches-profile-pic" src="{{url_for('static', filename='stock-image.jpg')}}" alt="Profile Picture"> 
                                <span class="fw-semibold match-username mx-5">[[ item["info"]['firstname'] ]]</span>
                            </td>
                            
                            <td> [[ item["daysMatched"] ]] </td>
                            <td class="text-uppercase"> [[ item['info']['mbti'] ]] </td>
                            <td>[[ item['info']['age'] ]]</td>
            
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-danger me-2" data-bs-toggle="modal" data-bs-target="#exampleModal" @click="selectItem(item.dateIdea); selectName(item['info']['firstname']);">
                                    <i class="fa-sharp fa-solid fa-ellipsis-vertical fa-2xl text-center">
                                    </i>
                                </button>
                                
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                [[  user  ]] 

                                                <!-- Report User Button -->
                                                <a href="" class="text-muted" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Report User">
                                                    <i class="fa-solid fa-circle-exclamation ms-1"></i>
                                                </a>
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p class="fw-semibold">First Date Idea</p>
                                            <h3> [[ date[0] ]]</h3>
    
                                            <!-- Displaying more dates in hidden content. Press Date Ideas Button to turn more dates content to block item -->
                                            <div v-if="showMoreDates">
                                                <div v-if="date.length > 1">
                                                    <p class="fw-bold my-3">More Date Ideas</p>
                                                    <ul class="list-group" v-for="ideas in date">
                                                        <li class="list-group-item"> [[ ideas ]] </li>
                                                    </ul>
                                                </div>
                                                <div v-else>
                                                    <p> Talk to your match to get more date ideas! </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-danger ms-2" @click="generateMoreDates">More Date Ideas</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>

                                <!-- END OF MODAL -->

                                <!-- Tag match_id to each button -->
                                <button type="button" class="btn btn-danger" @click="goMessage(item.matchId)">Message <i class="fa-regular fa-message"></i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- IF NO MATCHES -->
            <div class="text-center mt-5" v-else>
                <h1 class="display-5">You have no matches <b>YET</b>!</h1>
                <form action="{{url_for('home')}}">
                    <button type="submit" class="btn btn-danger mt-4">Swipe more!</button>
                </form>
            </div>
        </div>
        
    </div>

<script>
    

    // var user_id = session['user_id'];

    //for testing
    // var user_id = 849811382203678721;

    const app = Vue.createApp(
        {
            delimiters: ['[[', ']]'], // Change the delimiter to [[ ]]
            data(){

                // matchesResult is the array that will be used to display the matches using match microservice
                // matchesInfo is the array that will be used to store the information of the matches that accesses user.py microservice. Key is the user_id and value is the information of the user
                // moreDates is the object that will be used to store the date ideas of the matches. Key is the match_id and value is the date idea

                return {
                    matchesResult : [],
                    matchesInfo: {},
                    showMoreDates: false,
                    date: '',
                    user:'',
                    user_chooser_id: document.getElementById('app').getAttribute('data-user-chooser-id'),
                    user_chooser_name: '',
                }
            },

            created(){
                this.getSessionUserInfo();
            },

            methods : {
                getSessionUserInfo(){
                    fetch(
                    "http://127.0.0.1:26257/user/" + this.user_chooser_id,
                        {
                            mode: 'cors',
                        }
                    )
                    .then((response) => response.json())
                    .then((data) => {
                    console.log(data)
                    this.user_chooser_name = data['data']['firstname'];
                    console.log('this is the user_chooser_name', this.user_chooser_name)
                    })
                    .catch((error) => {
                    console.error('Error:', error);
                    });
                },

                getMatches() {
                    axios.get("http://127.0.0.1:5002/successful_match/" + this.user_chooser_id, 
                        {
                          headers: {
                                "Access-Control-Allow-Origin": '*'
                            }  
                        })
                    // fetch(
                    // //   "http://localhost:5002/successful_match/" + user_id
                    // "http://localhost:5002/successful_match/849811382185000961" 
                    // )
                    // .then((response) => response.json())
                    .then(response => {
                        // Getting the successful matches from a user_id
                        this.matchesData = response.data.data;
                        console.log('This is the successful matches: ');
                        console.log(JSON.stringify(this.matchesData));
                        console.log('=====================================');

                        //Iterate through the successful matches and push them into the table
                        if (this.matchesData.length > 0){
                            for (var i = 0; i < this.matchesData.length; i++) {
                                this.matchesResult.push(this.matchesData[i]);

                                // console.log(JSON.stringify(this.matchesResult));
                                // console.log("============================");
                                // console.log(this.matchesData[i]['user_id2']);
                                // console.log('This is the date idea:')
                                // console.log(this.matchesData[i]['dateIdea'][0]);

                                // Getting the number of days since matched date
                                let currentDate = new Date();
                                console.log(this.matchesData[i]['user_id1'],this.matchesData[i]['dateMatched'])
                                let dateMatched = new Date(this.matchesData[i]['dateMatched']);
                                let daysMatched = Math.floor((currentDate - dateMatched) / (1000 * 60 * 60 * 24));
                                console.log('This is the number of days since matched: ' + daysMatched);
                                if (daysMatched > 7){
                                    daysMatched = '1w';
                                } else if (daysMatched > 30){
                                    daysMatched = '1m';
                                } else if (daysMatched > 365){
                                    daysMatched = '1y';
                                } else{
                                    daysMatched = daysMatched + 'd';
                                }

                                let dateIdea = this.matchesData[i]['dateIdea'];
                                let matchId = this.matchesData[i]['match_id'];
                                let matchUser1 = this.matchesData[i]['user_id1'];

                                // Checking for the user_id that is not the current user
                                if (matchUser1 == this.user_chooser_name){
                                    this.matchesInfo[this.matchesData[i]['user_id2']] = {};
                                    this.matchesInfo[this.matchesData[i]['user_id2']]['dateIdea'] = dateIdea;
                                    this.matchesInfo[this.matchesData[i]['user_id2']]['daysMatched'] = daysMatched;
                                    this.matchesInfo[this.matchesData[i]['user_id2']]['matchId'] = matchId;
                                    this.getUserInfo(this.matchesData[i]['user_id2']);
                                } else{
                                    this.matchesInfo[this.matchesData[i]['user_id1']] = {};
                                    this.matchesInfo[this.matchesData[i]['user_id1']]['dateIdea'] = dateIdea;
                                    this.matchesInfo[this.matchesData[i]['user_id1']]['daysMatched'] = daysMatched;
                                    this.matchesInfo[this.matchesData[i]['user_id1']]['matchId'] = matchId;
                                    this.getUserInfo(this.matchesData[i]['user_id1']);
                                }
                            }
                        } else{
                            console.log("No matches");
                            this.matchesResult = 0;
                        }

                        // this.matchesInfo = JSON.stringify(this.matchesInfo);
                        // console.log(JSON.stringify(this.matchesInfo));
                        // console.log(this.matchesInfo["849412270226374657"]['dateIdea']);
                        // console.log('=============================');
                        // console.log('Matches Result');
                        // console.log(JSON.stringify(this.matchesResult));
                        // console.log('=============================');

                    })
                    .catch(error => {
                        console.log(error.message)
                    });
                },

                getUserInfo(matchUserId){
                    // Let's get the user's information
                    matchUserId = matchUserId.toString();
                    fetch(
                        "http://localhost:26257/user/" + matchUserId,
                        {
                            mode: 'cors',
                        }
                    )
                    .then((response) => response.json())
                    .then((data) =>{
                        // console.log('=============================');
                        // console.log('Fetching Users Info');
                        // console.log('=============================');
                        // console.log(data['data'])

                        // Storing the user's information into the matchesInfo array
                        this.matchesInfo[matchUserId]['info'] = data['data'];
                        console.log('=============================');
                        console.log('Matches Info');
                        console.log(JSON.stringify(this.matchesInfo));
                        console.log('=============================');
                        console.log('This is the info of the match');
                        console.log(JSON.stringify(this.matchesInfo[matchUserId]['info']));

                    })
                    .catch(error => {
                        console.log(error.message);
                    });
                },

                generateMoreDates(date, name){
                    console.log("Generate more dates");
                    this.showMoreDates = true;
                },

                hideDates(){
                    document.onclick = function(e){
                        console.log(e.target.id)
                        if(e.target.id == ''){
                            this.showMoreDates = false;
                        }
                    }
                },

                goMessage(matchId){
                    console.log("Go to message");
                    console.log('This is the match id: ' + matchId);
                    // window.location.href= "https://www.google.com.sg/"
                    window.location.href = "http://127.0.0.1:5000/get_all_messages/" + matchId;
                },
                selectItem(item) {
                    this.date = item;
                },
                
                selectName(user) {
                    this.user = user;
                },
                

            },

            mounted() {
                this.getMatches();
                this.getUserInfo();
                // this.generateMoreDates();
                // this.goMessage();
            },

            computed : {
                
            }
        }
    );

    app.mount("#app"); 

</script>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

</body>
</html>